# Object files
*.o
*.ko
*.obj
*.elf
*.S
*.s
*.bin

# Precompiled Headers
*.gch
*.pch
*.d
*.map

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#vi tmp files
*.swp
*~
